{% extends 'base.html.twig' %}

{% block title %}Amerique{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div id="country">
        <h1>AMÉRIQUE</h1>
    </div>

{% endblock %}
