{% extends 'base.html.twig' %}

{% block title %}France{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div id="country">
        <h1>FRANCE</h1>
    </div>

{% endblock %}
