{% extends 'base.html.twig' %}

{% block title %}Oceanie{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div id="country">
        <h1>OCÉANIE</h1>
        <div id="displayGames">
            <a href="{{ path('app_game_capitales_oceanie') }}">
                <div>
                    <img src="{{ asset('img/background_game.svg') }}" alt="game">
                    <span>Capitales d'Océanie</span>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
