{% extends 'base.html.twig' %}

{% block title %}Capitales d'Europe{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <div id="gaming">
        <div id="block-game">
            <h1>Capitales d'Europe</h1>
            <div class="btnPlay">
                <span>JOUER</span>
            </div>
            <div id="answers" style="display: none">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button id="playAgain">Rejouer</button>
            <h2 id="liveScore">0</h2>
            <h3 id="time"></h3>
            <h2 id="goodAnswer">+1</h2>
        </div>

        <div id="topResults">

        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('capitales_europe') }}
    {% endblock %}
{% endblock %}
