form.login {
    padding: 20px;
    background-color: #F5F5F5;
    width: 50%;
    margin: 50px auto 0 auto;
    border-radius: 20px;
    opacity: 0.9;

    div.error {
        color: red;
    }

    div.alreadyLogged {
        a {
            color: #296cc9;
            text-decoration: none;
        }
    }

    div.line {
        display: flex;
        flex-direction: column;

        &:nth-child(n+2) {
            margin-top: 15px;
        }
    }

    button.submit {
        border: none;
        display: block;
        margin: 20px auto 0 auto;
        background-color: #296cc9;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        color: #F5F5F5;
    }

    div.createAccount {
        margin-top: 30px;
        text-align: center;

        a {
            text-decoration: none;
            color: #296cc9;
        }
    }
}