body {
    background: url("../../assets/img/background_profile.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.profile {
    width: 70%;
    margin: 30px auto 0 auto;
    background-color: red;
    opacity: 0.9;
}